@media  screen and (min-width : 648px) {
    section {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width : 1161px) {
    .card-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }
    
}
@media only screen and (min-width : 1162px) {
    .medium-screen {
        display : none;
    }
}
body {
    background: #F6C5AF;
}
h1 {
    color: #C2714F;
}
h1, h2:not(#exception) {
    text-align: center;
}
nav {
    background: #E0607E;
}
nav ul li{
    display: inline;
    margin: 10px;
}
ul li {
    list-style-type: none;
}
ol li h2{
    text-decoration: underline;
}
.card {
    margin-left: 5px;
}
aside {
    border: solid 1px grey;
    margin-right: 5px;
    margin-left: 5px;
}
footer {
    background: crimson;
    text-align: center;
    position: relative;
    bottom: -30px;
}
.event {
    border: solid 1px grey;
    margin: 10px;
    width: 50em;
}
.section {
    width: 60rem;
}